$color-white: #fff;
$color-black: #000;
$color-gray: #B2B2BA;
$color-gray--dark: #80695C;
$color-brown--light: #F3D1BF;
$color-brown: #806354;
$color-brown--dark: #391400;
$color-blue: #3A3C56;
$color-purple: #B550F8;
$color-orange: #E5C5B4; 

$color-primary: #28293E;
$color-secondary: #FEFBF8;
$color-secondary-dark: #FDF0E9;
$color-tertiary: #EF6D58;

$shadow-primary: rgba(99, 99, 99, 0.2);
$shadow-secondary: rgba(0, 0, 0, 0.05);
$shadow-tertiary:rgba(255, 255, 255, 0.295743);